body
{
   background-color: #EAEAEA;
   background-image: url(images/regDone_bkgrnd.png);
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 10px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: right;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Layer1
{
   background-color: #00FF7F;
   background: linear-gradient(135deg, #2E8B57 0%, #00FF7F 100%);
   padding: 0px 0px 70px 0px;
   margin: 0;
}
#wb_LayoutGrid12
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid12
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid12 > .col-1, #LayoutGrid12 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid12 > .col-1, #LayoutGrid12 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid12 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid12 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 500px)
{
#LayoutGrid12 > .col-1, #LayoutGrid12 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 500px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 5px 0px 5px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 600px;
}
#LayoutGrid2 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 600px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 20px 0px 20px 0px;
   padding: 0;
   text-align: center;
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #1ABC9C;
   font-family: "Roboto Slab Bold";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   line-height: 40.5px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   border-top: 1px #D8D8D8 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 20px 0px 20px;
   padding: 0;
   color: #242729;
   font-family: "Roboto Slab";
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   line-height: 28.5px;
}
#wb_LayoutGrid16
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 20px 0px 100px 0px;
}
#LayoutGrid16
{
   box-sizing: border-box;
   padding: 5px 0px 5px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid16 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid16 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid16 > .row > .col-1
{
   float: left;
}
#LayoutGrid16 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid16:before,
#LayoutGrid16:after,
#LayoutGrid16 .row:before,
#LayoutGrid16 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid16:after,
#LayoutGrid16 .row:after
{
   clear: both;
}
@media (max-width: 700px)
{
#LayoutGrid16 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Button1
{
   line-height: 54px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #3CB371;
   border-radius: 4px;
   background-color: #3CB371;
   background-image: none;
   color: #FFFFFF;
   font-family: "Roboto Slab";
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
   padding: 0;
}
#wb_Text5 
{
   background-color: #808080;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #193441;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 30px 10px 20px 10px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 600px)
{
#LayoutGrid7 > .row > .col-1, #LayoutGrid7 > .row > .col-2, #LayoutGrid7 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 20px 0px 0px 0px;
   text-align: left;
}
#wb_Text7
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 17px;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text7
{
   display: block;
   margin: 20px 0px 0px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_CssMenu3
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu3 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu3 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu3 a
{
   display: block;
   color: #1ABC9C;
   border: 0px none #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   box-sizing: border-box;
   height: 28px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 28px;
   text-align: left;
}
#wb_CssMenu3 li:hover a, #wb_CssMenu3 a:hover
{
   color: #FFFFFF;
   border: 0px none #FFFFFF;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu3 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu3 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu3 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 20px 0px 0px 0px;
   text-align: left;
}
#wb_Text4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 17px;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text4
{
   display: block;
   margin: 20px 0px 0px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_contactForm
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contactForm
{
   box-sizing: border-box;
   padding: 5px 10px 0px 10px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#contactForm > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#contactForm > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#contactForm > .row > .col-1
{
   float: left;
}
#contactForm > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#contactForm:before,
#contactForm:after,
#contactForm .row:before,
#contactForm .row:after
{
   display: table;
   content: " ";
}
#contactForm:after,
#contactForm .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contactForm > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#contactBreadcrumb1
{
   padding: 10px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Roboto Slab";
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#contactBreadcrumb1 > li
{
   display: inline-block;
   font-size: 13px;
}
#contactBreadcrumb1 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#contactBreadcrumb1 a:hover
{
   color: #1ABC9C;
   text-decoration: none;
}
#contactBreadcrumb1 > .active
{
   color: #1ABC9C;
}
#contactBreadcrumb1 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#contactBreadcrumb1 li i
{
   font-size: 13px;
   width: 15px;
}
#contactBreadcrumb2
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Roboto Slab";
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#contactBreadcrumb2 > li
{
   display: inline-block;
   font-size: 13px;
}
#contactBreadcrumb2 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#contactBreadcrumb2 a:hover
{
   color: #1ABC9C;
   text-decoration: none;
}
#contactBreadcrumb2 > .active
{
   color: #1ABC9C;
}
#contactBreadcrumb2 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#contactBreadcrumb2 li i
{
   font-size: 13px;
   width: 15px;
}
#contactBreadcrumb3
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Roboto Slab";
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#contactBreadcrumb3 > li
{
   display: inline-block;
   font-size: 13px;
}
#contactBreadcrumb3 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#contactBreadcrumb3 a:hover
{
   color: #1ABC9C;
   text-decoration: none;
}
#contactBreadcrumb3 > .active
{
   color: #1ABC9C;
}
#contactBreadcrumb3 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#contactBreadcrumb3 li i
{
   font-size: 13px;
   width: 15px;
}
#Breadcrumb1
{
   padding: 8px 15px 8px 0px;
   list-style: none;
   background-color: transparent;
   background-image: none;
   border: 0px solid #C0C0C0;
   font-family: "Roboto Slab";
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb1 > li
{
   display: inline-block;
   font-size: 13px;
}
#Breadcrumb1 a
{
   color: #1ABC9C;
   text-decoration: none;
}
#Breadcrumb1 a:hover
{
   color: #1ABC9C;
   text-decoration: none;
}
#Breadcrumb1 > .active
{
   color: #1ABC9C;
}
#Breadcrumb1 > li + li:before
{
   content: "";
   padding: 0 5px;
   color: #C0C0C0;
}
#Breadcrumb1 li i
{
   font-size: 13px;
   width: 15px;
}
#Breadcrumb1 i
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
#Breadcrumb1 .markunread-mailbox:before
{
   content: "\e89b";
}
#wb_Image2
{
   margin: 0px 0px 10px 0px;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0px 0px 0px 10px;
   display: inline-block;
   width: 137px;
   height: 195px;
   vertical-align: top;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 15px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 5px 0px 0px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text17 div
{
   text-align: center;
}
#wb_Text17
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_IconFont3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#IconFont3
{
   height: 20px;
   width: 20px;
}
#IconFont3 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 10px;
}
#wb_IconFont3:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon8
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#FontAwesomeIcon8
{
   height: 20px;
   width: 20px;
}
#FontAwesomeIcon8 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 17px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon10
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#FontAwesomeIcon10
{
   height: 20px;
   width: 20px;
}
#FontAwesomeIcon10 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon11
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon11:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#FontAwesomeIcon11
{
   height: 20px;
   width: 20px;
}
#FontAwesomeIcon11 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon11:hover i
{
   color: #0AABE1;
}
#wb_FontAwesomeIcon28
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon28:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#FontAwesomeIcon28
{
   height: 20px;
   width: 20px;
}
#FontAwesomeIcon28 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon28:hover i
{
   color: #0AABE1;
}
#Line4
{
   border-color: #A0A0A0;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 15px 20px 15px 20px;
   padding: 0;
}
#wb_IconFont1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont1:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#IconFont1
{
   height: 20px;
   width: 20px;
}
#IconFont1 i
{
   color: #0AABE1;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#wb_IconFont1:hover i
{
   color: #0AABE1;
}
#wb_Image1
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0px 0px 0px 10px;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: scale-down;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 10px 0px 10px 0px;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 10px 0px 10px 0px;
   box-sizing: border-box;
width: 100%;}
